ClienteServicioWeb/xml-resources/web-service-references/SIEService/wsdl/localhost_8090/SIEWS/SIEService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://com.itesz.soa" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.itesz.soa">

<xs:element name="actualizarEstatusAlumno" type="tns:actualizarEstatusAlumno"/>

<xs:element name="actualizarEstatusAlumnoResponse" type="tns:actualizarEstatusAlumnoResponse"/>

<xs:element name="agregarAlumno" type="tns:agregarAlumno"/>

<xs:element name="agregarAlumnoResponse" type="tns:agregarAlumnoResponse"/>

<xs:element name="consultarAlumno" type="tns:consultarAlumno"/>

<xs:element name="consultarAlumnoResponse" type="tns:consultarAlumnoResponse"/>

<xs:element name="consultarDocente" type="tns:consultarDocente"/>

<xs:element name="consultarDocenteResponse" type="tns:consultarDocenteResponse"/>

<xs:element name="consultarUsuario" type="tns:consultarUsuario"/>

<xs:element name="consultarUsuarioResponse" type="tns:consultarUsuarioResponse"/>

<xs:complexType name="actualizarEstatusAlumno">
<xs:sequence>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEstatusAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarDocente">
<xs:sequence>
<xs:element name="noDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="docente">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="escolaridad" type="xs:string" minOccurs="0"/>
<xs:element name="especialidad" type="xs:string" minOccurs="0"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="idCarrera" type="xs:int"/>
<xs:element name="noDocente" type="xs:int"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarAlumno">
<xs:sequence>
<xs:element name="alumno" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="creditos" type="xs:int"/>
<xs:element name="idCarrera" type="xs:int"/>
<xs:element name="idEstatus" type="xs:int"/>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
<xs:element name="promedio" type="xs:float"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarAlumno">
<xs:sequence>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>