ClienteServicioWeb/xml-resources/web-service-references/SIEService/wsdl/localhost_8090/SIEWS/SIEService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.itesz.soa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.itesz.soa" name="SIEService">
<types>
<xsd:schema>
<xsd:import namespace="http://com.itesz.soa" schemaLocation="http://localhost:8090/SIEWS/SIEService?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarDocente">
<part name="parameters" element="tns:consultarDocente"/>
</message>
<message name="consultarDocenteResponse">
<part name="parameters" element="tns:consultarDocenteResponse"/>
</message>
<message name="actualizarEstatusAlumno">
<part name="parameters" element="tns:actualizarEstatusAlumno"/>
</message>
<message name="actualizarEstatusAlumnoResponse">
<part name="parameters" element="tns:actualizarEstatusAlumnoResponse"/>
</message>
<message name="agregarAlumno">
<part name="parameters" element="tns:agregarAlumno"/>
</message>
<message name="agregarAlumnoResponse">
<part name="parameters" element="tns:agregarAlumnoResponse"/>
</message>
<message name="consultarAlumno">
<part name="parameters" element="tns:consultarAlumno"/>
</message>
<message name="consultarAlumnoResponse">
<part name="parameters" element="tns:consultarAlumnoResponse"/>
</message>
<message name="consultarUsuario">
<part name="parameters" element="tns:consultarUsuario"/>
</message>
<message name="consultarUsuarioResponse">
<part name="parameters" element="tns:consultarUsuarioResponse"/>
</message>
<portType name="SIEService">
<operation name="consultarDocente">
<input wsam:Action="http://com.itesz.soa/SIEService/consultarDocenteRequest" message="tns:consultarDocente"/>
<output wsam:Action="http://com.itesz.soa/SIEService/consultarDocenteResponse" message="tns:consultarDocenteResponse"/>
</operation>
<operation name="actualizarEstatusAlumno">
<input wsam:Action="http://com.itesz.soa/SIEService/actualizarEstatusAlumnoRequest" message="tns:actualizarEstatusAlumno"/>
<output wsam:Action="http://com.itesz.soa/SIEService/actualizarEstatusAlumnoResponse" message="tns:actualizarEstatusAlumnoResponse"/>
</operation>
<operation name="agregarAlumno">
<input wsam:Action="http://com.itesz.soa/SIEService/agregarAlumnoRequest" message="tns:agregarAlumno"/>
<output wsam:Action="http://com.itesz.soa/SIEService/agregarAlumnoResponse" message="tns:agregarAlumnoResponse"/>
</operation>
<operation name="consultarAlumno">
<input wsam:Action="http://com.itesz.soa/SIEService/consultarAlumnoRequest" message="tns:consultarAlumno"/>
<output wsam:Action="http://com.itesz.soa/SIEService/consultarAlumnoResponse" message="tns:consultarAlumnoResponse"/>
</operation>
<operation name="consultarUsuario">
<input wsam:Action="http://com.itesz.soa/SIEService/consultarUsuarioRequest" message="tns:consultarUsuario"/>
<output wsam:Action="http://com.itesz.soa/SIEService/consultarUsuarioResponse" message="tns:consultarUsuarioResponse"/>
</operation>
</portType>
<binding name="SIEServicePortBinding" type="tns:SIEService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarEstatusAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SIEService">
<port name="SIEServicePort" binding="tns:SIEServicePortBinding">
<soap:address location="http://localhost:8090/SIEWS/SIEService"/>
</port>
</service>
</definitions>